---
import { Image } from 'astro:assets';
import { Image as RemoteImage } from 'astro-preload/components';
import type { ImageMetadata } from 'astro';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Circle from '../components/Circle.astro';
import AuthorCard from '../components/AuthorCard.astro';
import Placeholder from '../assets/covers/placeholder.png';
import { SITE_TITLE } from '../consts';

// Type the prop properly
type Props = {
  post: CollectionEntry<'reviews'>;
};

const { post } = Astro.props;

// Access via .data (always safe + typed if you have a schema)
const { 
  title, 
  artist, 
  year,
  rating,
  description, 
  author,
  pubDate, 
  updatedDate, 
  heroImage, 
  mbid, 
  localCover 
} = post.data;
---

<html lang="he">
  <head>
    <BaseHead title=`${SITE_TITLE} | ${title}` description={description} />
		<style>
      :root {
         --gray-icon: rgb(96, 115, 159);
      }
      article {
      	width: 100%;
        max-width: 100%;
        margin-top: 2rem;
      }
      main {
        width: 80ch;
      }
      details::details-content {
        background-color: #b5b5b5;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
      	border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .info-header {
					display: flex;
          width: 720px;
          max-width: calc(100% - 2em);
          margin: auto;
          padding: 1em 1em 0;
          color: rgb(var(--gray-dark));
      }
      hr {
        width: 100%;
      }
			.info-header h6 {
				font-size: 20px;
			}
			.album-cover {
				width: 300px;
				height: 300px;
			}
      .title {
          display: grid;
          grid-template-columns: minmax(0, max-content);
          margin-bottom: 1em;
          margin-inline: auto;
          padding: 1em 0;
          text-align: center;
          line-height: 1;
      }
      .description {
        width: 15ch;
      }
      .social-links {
    		display: flex;
    		justify-content: center;
    		gap: 1em;
    		margin-top: 1em;
    	}
      .knob {
        padding-left: 12px;
        margin-top: 2rem;
        margin-inline: auto;
        width: fit-content;
      }
      .date {
          margin-bottom: 0.5em;
          color: rgb(var(--gray));
      }
      .last-updated-on {
          font-style: italic;
      }
      @media screen and (width <= 30rem) {
        .info-header {
          flex-direction: column;
          gap: 1rem;
        }
        .album-cover {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    </style>
  </head>

  <body dir="rtl">
    <Header />
      <article>
        <header class="info-header">
          <img class="album-cover" width="300" height="300" alt=`Cover art for ${title}` src={localCover.src || Placeholder.src} />
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h3>{title}</h3>
            <hr />
						<h5>{artist}</h5>
						<h6>{year}</h6>
            <h5 class="description">{description}</h5>
            <div class="knob">
              <Circle value={rating} />
            </div>
          </div>
        </header>
        <main>
          <slot />
        </main>
      </article>
      <AuthorCard author={author} />
    <Footer />
  </body>
</html>
